OTP_DB_URL=change_me
DB_USERNAME=change_me
DB_PASSWORD=change_me
SHOW_SQL=true
SMTP_HOST=change_me
SMTP_PORT=change_me
SMTP_USERNAME=your_smtp_mail_address
SMTP_PASSWORD=your_smtp_app_password_here
ESMS_USERNAME=your_username
ESMS_PASSWORD=your_esms_password_here
ESMS_SENDER_ALIAS=Godayana.lk