FILE_DB_URL=change_me
DB_USERNAME=chnage_me
DB_PASSWORD=your_db_password_here
MAX_FILE_SIZE=5MB
STORAGE_BUCKET_NAME=chnage_me
STORAGE_REGION=chnage_me
STORAGE_ENDPOINT=chnage_me
STORAGE_ACCESS_KEY=your_storage_access_key_here
STORAGE_SECRET_KEY=your_storage_secret_key_here

