AUTH_DB_URL=change_this_to_your_auth_db_url
DB_USERNAME=change_this_to_your_db_username
DB_PASSWORD=your_db_password_here
SHOW_SQL="true"
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION="86400000"
JWT_REFRESH_EXPIRATION="604800000"
OTP_SERVICE_URL=change_this_to_your_otp_service_url
NOTIFICATION_SERVICE_URL=change_this_to_your_notification_service_url
USER_SERVICE_URL=change_this_to_your_user_service_url